@media (max-width: 1330px) {
    .hero-flex {
        flex-direction: column;
    }

    html {
        font-size: 56.25%;
    }

    .heart {
        display: none;
    }

    .container--cta {
        margin: 0 2rem;
    }
}

@media (max-width: 815px) {
    html {
        font-size: 50%;
    }

    .featured-in-image {
        width: 15rem;
    }
}

@media (max-width: 610px) {
    .container {
        margin: 0 4rem;
        padding: 4rem 3rem;
    }

    .plan-options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .plan-option {
        /* TODO */
        min-width: 75%;
        height: 40rem;
    }

    .plan-text-holder {
        margin-top: 2rem;
    }

    .reviews-container {
        flex-direction: column;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .featured-in-image {
        width: 8rem;
    }

    .nav-main ul {
        display: none;
    }
}

@media (max-width: 430px) {
    html {
        font-size: 40%;
    }
}
