* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 64.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #ef4b4b;
    --dark-main-color: #a32727;
}

/* ------------------------------- Header ------------------------------- */

header {
    background-color: var(--main-color);

    padding: 2rem 4.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Pacifico, cursive;
    font-weight: normal;
    font-size: 4.8rem;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015rem;

    color: #ffffff;
}

/* ------------------------------- Hero banner ------------------------------- */

.hero-section {
    background-color: var(--main-color);
}

.hero-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 70%;

    margin: 0 auto;
    padding: 2.4rem;
}

h1 {
    display: inline-block;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 111.4%;
    letter-spacing: -0.055em;

    color: #ffffff;
}

.heart {
    fill: var(--dark-main-color);
    transform: rotate(10.12deg);

    max-width: 30%;
}

.nav-main ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.nav-main li a:link,
.nav-main li a:visited {
    color: white;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

header li a:hover {
    font-weight: bold;
    font-size: 26px;
}

.download-title {
    background-color: var(--dark-main-color);
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 237px;
    height: 77px;
}

.download-title p {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
    letter-spacing: -0.055em;
}

.download-button-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 3rem;
}

/* ------------------------------- Functions Section ------------------------------- */

.functions {
    padding: 150px 200px 150px 200px;
    display: flex;
    justify-content: space-between;
}

.fun {
    display: flex;
    flex-direction: column;
    align-items: center;
}
