* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #ef4b4b;
    --dark-main-color: #a32727;
}

/* ------------------------------- Header ------------------------------- */

header {
    background-color: var(--main-color);
    padding: 50px 200px 100px 200px;
}

header h2 {
    font-family: Pacifico, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 112px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #ffffff;
}

h1 {
    display: inline-block;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 111.4%;
    letter-spacing: -0.055em;

    color: #ffffff;
}

.heart {
    fill: var(--dark-main-color);
    transform: rotate(10.12deg);
    width: 528px;
    height: 474px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

header ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

nav ul {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

header li a {
    width: 200px;
    display: inline-block;
    color: white;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

header li a:hover {
    font-weight: bold;
    font-size: 26px;
}

.download-title {
    background-color: var(--dark-main-color);
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 237px;
    height: 77px;
}

.download-title p {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
    letter-spacing: -0.055em;
}

.download-button-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 3rem;
}

/* ------------------------------- Functions Section ------------------------------- */

.functions {
    padding: 150px 200px 150px 200px;
    display: flex;
    justify-content: space-between;
}

.fun {
    display: flex;
    flex-direction: column;
    align-items: center;
}
