* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 64.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #f6e9e9;
    --dark-main-color: #ac3d3d;
    --dark-grey-color: #212529;
    --medium-grey-color: #495057;
}

/* ------------------------------- Genral styles ------------------------------- */

.margin-right-sm {
    margin-right: 1.2rem;
}

.margin-top-sm {
    margin-top: 1rem;
}

.container {
    width: 120rem;

    margin: 0 auto;
    padding: 8rem 0;
}

.heading-secondary {
    font-size: 4rem;
    color: var(--dark-grey-color);
}

/* ------------------------------- Header ------------------------------- */

header {
    background-color: var(--main-color);

    padding: 2rem 4.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Pacifico, cursive;
    font-weight: normal;
    font-size: 3.2rem;

    letter-spacing: -0.015rem;

    color: var(--dark-grey-color);
}

.logo span {
    font-size: 105%;
    color: var(--dark-main-color);
}

.nav-main ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.nav-main li a:link,
.nav-main li a:visited {
    width: 9rem;

    color: var(--dark-grey-color);
    font-size: 1.8rem;
    text-decoration: none;

    display: flex;
    text-align: center;
    justify-content: center;

    transition: all 200ms;
}

.nav-main li a:hover {
    font-weight: bold;
    transform: scale(1.1);
}

/* ------------------------------- Hero banner ------------------------------- */

.hero-section {
    background-color: var(--main-color);

    padding: 0 0 8rem 0;
}

.hero-flex {
    display: flex;
    gap: 4.8rem;
    align-items: center;

    max-width: 70%;

    margin: 0 auto;
    padding: 2.4rem;
}

.hero-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 111.4%;
    letter-spacing: -0.055em;

    color: var(--dark-grey-color);
}

.hero-text {
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 1.8;
    color: var(--medium-grey-color);
}

.heart {
    fill: var(--dark-main-color);
    transform: rotate(10.12deg);

    max-width: 40%;
}

.hero-download-button-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    margin-top: 8rem;
}

.btn {
    background-color: var(--dark-main-color);

    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1.8rem;

    cursor: pointer;

    transition: background-color 300ms;
}

.btn:hover {
    background-color: #a32727;
}

.btn p {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.8rem;
    letter-spacing: -0.055em;
}

.download-icon {
    width: 2.4rem;
    height: 2.4rem;
}

/* ------------------------------- Functions Section ------------------------------- */

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.feature-icon {
    width: 3.6rem;
    height: 3.6rem;

    margin-bottom: 2rem;

    color: var(--dark-main-color);

    background-color: var(--main-color);
    border-radius: 50%;

    padding: 1.8rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 75%;

    text-align: center;
}

.feature-title {
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 0.6rem;
}

.feature-text {
    font-size: 1.6rem;
}

/* ------------------------------- Pricing Section ------------------------------- */

.pricing-text {
    font-size: 1.8rem;
    color: var(--medium-grey-color);
}

.pricing-option {
    display: flex;
    flex-direction: column;
}

.price {
    text-transform: uppercase;
    color: var(--dark-grey-color);
    font-size: 3rem;
    font-weight: 600;
}

.price-features {
    list-style: none;
}
